#toplevel_page_spls-licenses .wp-menu-image img {
	width: 20px !important;
	height: 20px !important;
	padding: 6px 0 0 !important;
	opacity: 1 !important;
}
#toplevel_page_spls-licenses .wp-menu-image { background: none !important; }
#toplevel_page_spls-licenses .wp-menu-image:before { content: none !important; display: none !important; }
